__snapshots__/
scripts/
.editorconfig                   
.eslintignore                   
.eslintrc                       
index.spec.js                   
data/gsheets.json               
.travis.yml
